/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

#intro{
  white-space: pre-line;
  padding: 10px 10px;
  margin: 30px 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}


.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,100,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 10px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: auto;
}

/*.iframe-container {*/
/*  overflow: hidden;*/
/*  !* 16:9 aspect ratio *!*/
/*  padding-top: 56.25%;*/
/*  position: relative;*/
/*}*/

/*.iframe-container iframe {*/
/*   border: 0;*/
/*   height: 100%;*/
/*   left: 0;*/
/*   position: absolute;*/
/*   top: 0;*/
/*   width: 100%;*/
/*   overflow: hidden;*/
/*}*/

iframe{
    overflow:hidden;
}

/*.imgcolumn{*/
/*  float: left;*/
/*  flex: 33.33%;*/
/*  padding: 5px;*/
/*}*/

/* includes alternating gray and white with on-hover color */

/*.mystyle {*/
/*    text-align: center;*/
/*    border-collapse: collapse;*/
/*    border: 1px solid silver;*/
/*}*/

/*.mystyle td, th {*/
/*    padding: 5px;*/
/*}*/


/*.mystyle tr:hover {*/
/*    background: silver;*/
/*    cursor: pointer;*/
/*}*/