bias_visualisation_app/resources/*.json
bias_visualisation_app/resources/*.model
bias_visualisation_app/resources/*.xlsx
bias_visualisation_app/resources/*.txt
bias_visualisation_app/static/*.html
bias_visualisation_app/static/*.png
bias_visualisation_app/static/user_uploads
bias_visualisation_app/static/user_uploads_text
bias_visualisation_app/static/user_downloads
