bias_visualisation_app/resources/*
bias_visualisation_app/static/*.html
bias_visualisation_app/static/*.png
bias_visualisation_app/static/user_uploads/*
bias_visualisation_app/static/user_uploads_text/*
bias_visualisation_app/static/user_downloads/*

!bias_visualisation_app/resources/.gitkeep
!bias_visualisation_app/static/user_downloads/.gitkeep
!bias_visualisation_app/static/user_uploads_text/.gitkeep
!bias_visualisation_app/static/user_downloads/.gitkeep