{% extends "layout.html" %}
{% block content %}
    <!--Slider -->
    <section class="slider">
      <div id="index-banner" class="parallax-container">
         <ul class="slides" style="background-color:#6e9190">
          <li>
            <img src="#" alt="Unsplashed background img 1" alt="">
            <div class="caption center-align">
              <h1 style="font-size: 500%">Visualising Data Bias with NLTK</h1>
              <h5 class="light grey-text text-lighten-3 hide-on-small-only">
               Youjing YU, Xiaoqiao HU
              </h5>

               <div class="row center">
              <a href="{{url_for('index')}}" class="btn-large waves-effect #4db6ac teal lighten-2">Refresh</a>
            </div>
            </div>
          </li>
          <li>
{#           <img src="backgroundpurple.png" alt="Unsplashed background img 1">#}
            <div class="caption left-align">
              <h1 style="font-size: 500%">Dynamic Data Statements for Bias Identification</h1>
              <h5 class="light grey-text text-lighten-3 hide-on-small-only">
               NLP based App
              </h5>
              <a href="about.html" class="btn-large waves-effect #4db6ac teal lighten-2">Learn More</a>
            </div>
          </li>

        </ul>
      </div>
    </section>

    <section class="section section-solutions-about grey lighten-3">
        <div class="author_intro">
            <h2 class="center dark-blue-text" id="intro" style="font-family: Verdana, Arial, Helvetica, sans-serif; margin:30px 20px;">We are two Engineering students from the University of Cambridge. This is our summer project on visualising data bias. The aim is to create a dynamic data statement, with which users of the data can visualise the potential biases in a sample text or corpora in an interactive and informative way. Defined as the “use of computer-supported, interactive, visual representations of data to amplify cognition, or the acquisition and use of knowledge”, interactive visualisation enables users to actively control the kind of information and details they want to look for and how they are represented in the data. </h2>
        </div>
        </br>
    </section>

    <footer class="page-footer darken-4" style="background: #3e5756">
        <div class="container" id="about">
                <div class="col l3 s12">
                      <h5 class="white-text">Contact Us</h5>
                      <ul>
                      <!--LinkedIn-->
                      <a href="https://linkedin.com/in/youjing-yu99" target="_blank" class="white-text">
                        <i class="fab fa-linkedin fa-4x"></i>
                        <label class="white-text text-lighten-3">Youjing Yu</label>
                      </a>
                      <a href="https://linkedin.com/in/xiaoqiao-hu-51a7a8181/" target="_blank" class="white-text">
                        <i class="fab fa-linkedin fa-4x"></i>
                        <label class="white-text text-lighten-3">Xiaoqiao Hu</label>
                      </a>
                      <!--Github-->
                      <a href="https://github.com/YoujingYu99" target="_blank" class="white-text">
                        <i class="fab fa-github-square fa-4x"></i>
                        <label class="white-text text-lighten-3">Youjing Yu</label>
                      </a>
                      <a href="https://github.com/Joycy-xh297" target="_blank" class="white-text">
                        <i class="fab fa-github-square fa-4x"></i>
                        <label class="white-text text-lighten-3">Xiaoqiao Hu</label>
                      </a>
                      </ul>
                </div>
        </div>
    </footer>
{% endblock content %}