{% extends "layout.html" %}
{% block content %}
<!--Slider -->
  <section class="slider">
      <div id="index-banner" class="parallax-container">
         <ul class="slides" style="background-color:#6e9190">
          <li>
            <img src="#" alt="Unsplashed background img 1" alt="">
            <div class="caption center-align">
              <h1 style="font-size: 500%">Dynamic Data Statements</h1>
              <h5 class="light grey-text text-lighten-3 hide-on-small-only">
               Using SpaCy,Gensim,NLTK and Sumy
              </h5>

               <div class="row center">
              <a href="{{url_for('index')}}" id="download-button" class="btn-large waves-effect #4db6ac teal lighten-2">Refresh</a>
            </div>
            </div>
          </li>
          <li>
{#           <img src="backgroundpurple.png" alt="Unsplashed background img 1">#}
            <div class="caption left-align">
              <h1 style="font-size: 500%">Bias Visualisation with NLTK</h1>
              <h5 class="light grey-text text-lighten-3 hide-on-small-only">
               NLP based App
              </h5>
              <a href="about.html" class="btn-large waves-effect #4db6ac teal lighten-2">Learn More</a>
            </div>
          </li>

        </ul>
      </div>
  </section>

<!--&lt;!&ndash;Query &ndash;&gt;-->
<!--  <section>-->
<!--    <div class="container">-->
<!--      <div class="row">s-->
<!--        <div class="input-field col s12 m10">-->
<!--           <div class="icon-block">-->
<!--            <h2 class="center dark-blue-text" style="font-family: Verdana, Arial, Helvetica, sans-serif;margin:30px 20px;"> What would you like to know?</h2>-->
<!--            <form method="POST" action="/analyze">-->
<!--                 <textarea name="rawtext" cols="3" rows="5" class="form-control" required="true"" placeholder="Enter Your Question Here"></textarea>-->
<!--                 <br/>-->
<!--                 <button class="btn btn-small waves-effect waves-light #4db6ac teal lighten-2" type="reset">Clear</button>-->
<!--                 <button class="btn btn-small waves-effect waves-light #4db6ac teal lighten-2" type="submit">Submit</button>-->
<!--            </form>-->
<!--           </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

{#Gender Count in Text    #}
  <section class="section section-solutions-about grey lighten-3">
    <div class="container">
      <div class="row">
        <div class="col s12 m10">
          <div class="icon-block">
            <h2 class="center">Your Corpora</h2>
            <div class="alert alert-info" role="alert" style="background-color: whitesmoke; border:none; ">
                <p>Female Nouns Appeared: <span style="color:#00cccc; font-size:25px; font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">{{ female_count }} </span>Times</p><br/>
                <p>Male Nouns Appeared: <span style="color:#00cccc; font-size:25px; font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">{{ male_count }} </span>Times</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



<!--Query -->
  <section class="section section-solutions-about grey lighten-3">
    <form class="col s12" method="POST" action="/query">
        <div class="container">
          <div class="row">
            <div class="input-field col s12 m10">
               <div class="icon-block">
                <h2 class="center dark-blue-text" style="font-family: Verdana, Arial, Helvetica, sans-serif;margin:30px 20px;"> Which types of words do you associate with which gender?</h2>
                </br>
                <label>Enter Your Options Here</label>
                <select name="type_select" class="browser-default">
                <option value="" disabled selected>Choose your option</option>
                    {% for i in wordtype_data %}
                    <option value="{{ i.type }}">{{ i.type }}</option>
                    {% endfor %}
                </select>
                <select name="gender_select" class="browser-default">
                <option value="" disabled selected>Choose your option</option>
                    {% for i in gender_data %}
                    <option value="{{ i.type }}">{{ i.type }}</option>
                    {% endfor %}
                </select>
                </br>
                <button class="btn btn-small waves-effect waves-light #4db6ac teal lighten-2" type="submit">Submit</button>
               </div>
            </div>
          </div>
        </div>
    </form>
  </section>


<!--User input question -->
  <section class="section section-solutions-about grey lighten-3">
    <form class="col s12" method="POST" action="/query">
        <div class="container">
          <div class="row">
            <div class="input-field col s12 m10">
              <div class="icon-block">
                <h2 class="center dark-blue-text" style="font-family: Verdana, Arial, Helvetica, sans-serif;margin:30px 20px;"> What would you like to know?</h2>
                <form method="POST" action="/analyse_question">
                 <textarea name="user_question" cols="3" rows="5" class="form-control" required="true" placeholder="Enter Your Question Here"></textarea>
                <br/>
                <button class="btn btn-small waves-effect waves-light #4db6ac teal lighten-2" type="reset">Clear</button>
                <button class="btn btn-small waves-effect waves-light #4db6ac teal lighten-2" type="submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </form>
  </section>

  <!-- SECTION: RESULTS FOR ADJECTIVES, NOUNS AND VERBS -->
  <section class="section section-solutions-about grey lighten-3 ">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 offset-m1">
          <div class="column">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s3">
                  <a href="#tab1" style="color:#3e5756">Total</a>
                </li>
                <li class="tab col s3">
                  <a href="#tab2" style="color:#3e5756">Nouns</a>
                </li>
                <li class="tab col s3">
                  <a href="#tab3" style="color:#3e5756">Adjectives</a>
                </li>
                <li class="tab col s3">
                  <a href="#tab4" style="color:#3e5756">Verbs</a>
                </li>
              </ul>
            </div>

            <div id="tab1" class="col s12">
              <h5>Total</h5>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ female_tot }}</p></div>
              <h3 style="text-align: center">Female</h3>
                {{ data_fm_tot.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ male_tot }}</p></div>
              <h3 style="text-align: center">Male </h3>
                {{ data_m_tot.to_html(classes="table table-striped", header="true", justify="center") | safe}}
            </div>

            <div id="tab2" class="col s12">
              <h5>Nouns</h5>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px;">{{ female_nouns }}</p></div>
              <h3 style="text-align: center">Female </h3>
                {{ data_fm_noun.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px;">{{ male_nouns }}</p></div>
              <h3 style="text-align: center">Female(Women are ...)</h3>
                {{ data_fm_before_aux.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px;">{{ male_nouns }}</p></div>
              <h3 style="text-align: center">Female(... are women)</h3>
                {{ data_fm_follow_aux.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px;">{{ male_nouns }}</p></div>
              <h3 style="text-align: center">Male</h3>
                {{ data_m_noun.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px;">{{ male_nouns }}</p></div>
              <h3 style="text-align: center">Male(Men are ...)</h3>
                {{ data_m_before_aux.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px;">{{ male_nouns }}</p></div>
              <h3 style="text-align: center">Male(... are men)</h3>
                {{ data_m_follow_aux.to_html(classes="table table-striped", header="true", justify="center") | safe}}
            </div>

            <div id="tab3" class="col s12">
              <h5>Adjectives</h5>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ female_adjs }}</p></div>
              <h3 style="text-align: center">Female Adjectives</h3>
                {{ data_fm_adj.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ female_pre }}</p></div>
              <h3 style="text-align: center">Female  Premodifiers</h3>
                {{ data_fm_premodifier.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ female_post }}</p></div>
              <h3 style="text-align: center">Female Postmodifiers</h3>
                {{ data_fm_postmodifier.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ male_adjs }}</p></div>
              <h3 style="text-align: center">Male Adjectives</h3>
                {{ data_m_adj.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ female_post }}</p></div>
              <h3 style="text-align: center">Female Possessives</h3>
                {{ data_fm_possessive.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ female_post }}</p></div>
              <h3 style="text-align: center">Female Possessors</h3>
                {{ data_fm_possessor.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ female_pre }}</p></div>
              <h3 style="text-align: center">Male  Premodifiers</h3>
                {{ data_m_premodifier.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ female_post }}</p></div>
              <h3 style="text-align: center">Male Postmodifiers</h3>
                {{ data_m_postmodifier.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ female_post }}</p></div>
              <h3 style="text-align: center">Male Possessives</h3>
                {{ data_m_possessive.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ female_post }}</p></div>
              <h3 style="text-align: center">Male Possessors</h3>
                {{ data_m_possessor.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
            </div>

<!--            <div id="tab4" class="col s12">-->
<!--              <h5>Verbs</h5>-->
<!--              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ female_verbs }}</p></div>-->
<!--              <h3 style="text-align: center">Female</h3>-->
<!--                {{ data_fm_verb.to_html(classes="table table-striped", header="true", justify="center") | safe}}-->
<!--              </br>-->
<!--              </br>-->
<!--              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ male_verbs }}</p></div>-->
<!--              <h3 style="text-align: center">Male </h3>-->
<!--                {{ data_m_verb.to_html(classes="table table-striped", header="true", justify="center") | safe}}-->
<!--            </div>-->

            <div id="tab4" class="col s12">
              <h5>Verbs</h5>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ female_intran_verbs }}</p></div>
              <h3 style="text-align: center">Female Intransitive Verbs</h3>
                {{ data_fm_intran_verb.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ female_sub_verbs }}</p></div>
              <h3 style="text-align: center">Female As Subject</h3>
                {{ data_fm_sub_verb.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ female_obj_verbs }}</p></div>
              <h3 style="text-align: center">Female As Object</h3>
                {{ data_fm_obj_verb.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ male_intran_verbs }}</p></div>
              <h3 style="text-align: center">Male Intransitive Verbs</h3>
                {{ data_m_intran_verb.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ male_sub_verbs }}</p></div>
              <h3 style="text-align: center">Male As Subject</h3>
                {{ data_m_sub_verb.to_html(classes="table table-striped", header="true", justify="center") | safe}}
              </br>
              </br>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ male_obj_verbs }}</p></div>
              <h3 style="text-align: center">Male As Object</h3>
                {{ data_m_obj_verb.to_html(classes="table table-striped", header="true", justify="center") | safe}}
            </div>

          </div>
        </div>
      </div>
     </div>
  </section>
{% endblock content %}