{% extends "layout.html" %}
{% block content %}
<!--Slider -->
<section class="slider" xmlns:font-size="http://www.w3.org/1999/xhtml">
  <div id="index-banner" class="parallax-container">
     <ul class="slides" style="background-color:#6e9190">
      <li>
        <img src="#" alt="Unsplashed background img 1" alt="">
        <div class="caption center-align">
          <h1 style="font-size: 500%">Dynamic Data Statements</h1>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">
           Using SpaCy,Gensim,NLTK and Sumy
          </h5>
          </br>
          </br>
          </br>
          </br>
          <div class="row center">
          <a href="{{url_for('index')}}" id="download-button" class="btn-large waves-effect #4db6ac teal lighten-2" >Refresh</a>
        </div>
        </div>
      </li>
      <li>
{#       <img src="backgroundpurple.png" alt="Unsplashed background img 1">#}
        <div class="caption left-align">
          <h1 style="font-size: 500%">Bias Visualisation with NLTK</h1>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only">
           NLP based App
          </h5>
          <a href="{{ url_for('about') }}" class="btn btn-large waves-effect waves-light #4db6ac teal lighten-2">Learn More</a>
        </div>
      </li>
   
    </ul>
  </div>
</section>

<!-- Start of Main Section -->
 <div class="container">
    <div class="section">

      <!--   Icon Section   -->
        <!--Text-->
      <div class="row">
        <div class="input-field col s12 m10">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fas fa-file-alt"></i></h2>
            <form method="POST" action="/detect_text">
                 <textarea name="rawtext" cols="3" rows="5" class="form-control" required="true" placeholder="Enter Text Here"></textarea>
                 <br/>
                 <button class="btn btn-small waves-effect waves-light #4db6ac teal lighten-2" type="reset">Clear</button>
                 <button class="btn btn-small waves-effect waves-light #4db6ac teal lighten-2" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>

      <!--URL-->
      <div class="row">
        <div class="input-field col s12 m10">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fas fa-file-alt"></i></h2>
            <form method="POST" action="/detect_url">
                 <input type="text" name="raw_url" placeholder="Enter URL Here" required="true">
                 <button class="btn btn-small waves-effect waves-light dark-blue lighten-1" type="reset">Clear</button>
                 <button class="btn btn-small waves-effect waves-light dark-blue lighten-1" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>

    </div>


      <!--Corpora-->
      <div class="row">
        <div class="input-field col s12 m10">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fas fa-file-alt"></i></h2>
            <form enctype="multipart/form-data" method="POST" action="/detect_corpora">
                <input type="file" name="corpora_file" placeholder="Upload Corpora Here" required="true">
                </br>
                </br>
                <button class="btn btn-small waves-effect waves-light dark-blue lighten-1" type="reset">Clear</button>
                <button class="btn btn-small waves-effect waves-light dark-blue lighten-1" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>

     </br>
     </br>


     <h5>Download the Complete File Here</h5>
     <a href="{{ url_for('download', df_name='complete_file.xlsx') }}" class="btn btn-small waves-effect waves-light dark-blue lighten-1">Download Total Dataframe</a>
{#     <button type="button" onclick="window.location.href='{{ url_for( 'download_total' , filename='total_dataframe.csv' ) }}';" class="btn btn-small waves-effect waves-light dark-blue lighten-1">Download Total Dataframe</button>#}
     </br>
     </br>


     <!--Upload Complete File -->
     <div class="row">
        <div class="input-field col s12 m10">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="fas fa-file-alt"></i></h2>
            <form enctype="multipart/form-data" method="POST" action="/detect_dataframe">
                <h5>Upload the Complete File Here</h5>
                <input type="file" name="complete_file" placeholder="Upload Complete File Here" required="true">
                </br>
                </br>
                <button class="btn btn-small waves-effect waves-light dark-blue lighten-1" type="reset">Clear</button>
                <button class="btn btn-small waves-effect waves-light dark-blue lighten-1" type="submit">Submit</button>

            </form>


          </div>
        </div>
      </div>



  </div>
  <!-- End -->

  <!-- Result Display-->
<!--  <section class="section section-solutions-about grey darken-2">-->
<!--    <div class="container white-text">-->
<!-- -->
<!--      &lt;!&ndash;   Icon Section   &ndash;&gt;-->
<!--      <div class="row">-->
<!--        <div class="col s12 m6">-->
<!--          <div class="icon-block">-->
<!--            <h2 class="center brown-text"><i class="material-icons">group</i></h2>-->
<!--            <h5 class="center">Your Text</h5>-->
<!--             <p>Reading Time: <span style="color:#0091EA;">{{ final_reading_time }} min </span></p>-->
<!--            <p class="light">{{ctext}}</p>-->
<!--            <div class="alert alert-info" role="alert"><p>Time Elapsed: <span style="color:#0091EA;">{{ final_time }} mins </span></p><br/>-->
<!--             -->
<!--        </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col s12 m6 grey darken-3">-->
<!--          <div class="icon-block">-->
<!--            <h2 class="center brown-text"><i class="material-icons">chrome_reader_mode</i></h2>-->
<!--            <h5 class="center">Summarized</h5>-->
<!--              <div class="" role="alert">-->
<!--              <p>Reading Time: <span style="color:#0091EA;">{{ summary_reading_time }} min </span></p>-->
<!--        </div>-->
<!--            <p class="light">{{ final_summary }}</p>-->
<!--          -->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
{% endblock content %}



