{% extends "layout.html" %}
{% block content %}
<!--Slider -->
  <section class="slider">
      <div id="index-banner" class="parallax-container">
         <ul class="slides" style="background-color:#6e9190">
          <li>
            <img src="backgroundblue.png" alt="Unsplashed background img 1" alt="">
            <div class="caption center-align">
              <h1 style="font-size: 500%">Dynamic Data Statements</h1>
              <h5 class="light grey-text text-lighten-3 hide-on-small-only">
               Using SpaCy,Gensim,NLTK and Sumy
              </h5>

               <div class="row center">
              <a href="{{url_for('index')}}" id="download-button" class="btn-large waves-effect #4db6ac teal lighten-2">Refresh</a>
            </div>
            </div>
          </li>
          <li>
           <img src="backgroundpurple.png" alt="Unsplashed background img 1">
            <div class="caption left-align">
              <h1 style="font-size: 500%">Bias Visualisation with NLTK</h1>
              <h5 class="light grey-text text-lighten-3 hide-on-small-only">
               NLP based App
              </h5>
              <a href="about.html" class="btn-large waves-effect #4db6ac teal lighten-2">Learn More</a>
            </div>
          </li>

        </ul>
      </div>
  </section>

  <section>
    <form class="form-inline" method="POST" action="/query">
      <div class="form-group">
        <div class="input-group">
        <h2 class="center dark-blue-text" style="font-family: Verdana, Arial, Helvetica, sans-serif;margin:30px 20px;"> What XX do you associated with what gender?</h2>
        </br>
        </br>
        <div class="input-group-addon">Please select</div>
            <select name="type_select" class="selectpicker form-control">
              {% for i in wordtype_data %}
              <option value="{{ i.type }}">{{ i.type }}</option>
              {% endfor %}
            </select>
            <select name="gender_select" class="selectpicker form-control">
              {% for i in gender_data %}
              <option value="{{ i.type }}">{{ i.type }}</option>
              {% endfor %}
            </select>
        </div>
        <button class="btn btn-small waves-effect waves-light #4db6ac teal lighten-2" type="submit">Submit</button>
      </div>
    </form>
  </section>

  <!-- Results -->
  <section class="section section-solutions-about grey lighten-3">
      <div class="container">
          <div class="row">
            <div class="col s12 m8">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="fas fa-file-alt"></i></h2>
                <h5 class="center">Your Text</h5>

                <p class="light">{{ctext}}</p>
                <div class="alert alert-info" role="alert">
<!--                    <p>Time Elapsed: <span style="color:#0091EA;">{{ final_time }} </span></p><br/>-->
                    <p>Bias Values: <span style="color:#0091EA;">{{ bias_description }} </span></p>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>

  <!-- SECTION: RESULTS FOR DIFFERENT VISUAL REPRESENTATIONS -->
  <section class="section section-solutions-about grey lighten-3 ">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 offset-m1">
          <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s3">
                  <a href="#tab1" style="color:#3e5756">Bar Graphs</a>
                </li>
                <li class="tab col s3">
                  <a href="#tab2" style="color:#3e5756">Word Clouds</a>
                </li>
                <li class="tab col s3">
                  <a href="#tab3" style="color:#3e5756">TSNE Graph</a>
                </li>
                <li class="tab col s3">
                  <a href="#tab4" style="color:#3e5756">PCA Graph</a>
                </li>
              </ul>
            </div>
            <div id="tab1" class="col s12">
              <h5>Bar Graphs</h5>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px">{{ bar_graph }}</p></div>
              <img src="{{ bar_graph }}" alt="Bar graph" style="margin-left:auto;margin-right:auto; width:1000px">
            </div>

            <div id="tab2" class="col s12">
              <h5>Word Clouds</h5>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px;">{{ female_word_cloud }}</p></div>
              <h3 style="text-align: center">Female </h3>
              <img src="{{ female_word_cloud }}" alt="Female word cloud" style="width:1000px">
              </br>
              </br>
              <h3 style="text-align: center">Male</h3>
              <img src="{{ male_word_cloud }}" alt="Male word cloud" style="width:1000px">
            </div>

            <div id="tab3" class="col s12">
              <h5>TSNE Graphs</h5>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px;">{{ female_tsne_graph }}</p></div>
              <h3 style="text-align: center">Female</h3>
              <img src="{{ female_tsne_graph }}" alt="Female Tsne graph">
              </br>
              </br>
              <h3 style="text-align: center">Male</h3>
              <img src="{{ male_tsne_graph }}" alt="Male Tsne graph">
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px;">{{ tsne_graph }}</p></div>
              <h3 style="text-align: center">Overall</h3>
              <img src="{{ tsne_graph }}" alt="Tsne graph">
            </div>

            <div id="tab4" class="col s12">
              <h5>PCA Graphs</h5>
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px;">{{ female_pca_graph }}</p></div>
              <h3 style="text-align: center">Female</h3>
              <img src="{{ female_pca_graph }}" alt="Female PCA graph">
              </br>
              </br>
              <h3 style="text-align: center">Male</h3>
              <img src="{{ male_pca_graph }}" alt="Male PCA graph">
              <div class="grey lighten-1"><p style="padding:5px;font-size:14px;">{{ pca_graph }}</p></div>
              <h3 style="text-align: center">Overall</h3>
              <img src="{{ pca_graph }}" alt="PCA graph">
            </div>

          </div>
        </div>
      </div>
     </div>
  </section>
{% endblock content %}