{% extends "layout.html" %}
{% block content %}
{#  The idea and code for building the slider is inspired from Summaryzer_Text_Summarization_App by Jesse JCharis,
https://github.com/Jcharis/NLP-Web-Apps/tree/master/Summaryzer_Text_Summarization_App#}
<!--Slider -->
  <section class="slider">
      <div id="index-banner" class="parallax-container">
         <ul class="slides" style="background-color:#6e9190">
          <li>
            <img src="#" alt="Unsplashed background img 1" alt="">
            <div class="caption center-align">
              <h1 style="font-size: 500%">Dynamic Data Statements</h1>
              <h5 class="light grey-text text-lighten-3 hide-on-small-only">
               Using SpaCy,Gensim,NLTK and Sumy
              </h5>

               <div class="row center">
              <a href="{{url_for('index')}}" id="download-button" class="btn-large waves-effect #4db6ac teal lighten-2">Refresh</a>
            </div>
            </div>
          </li>
          <li>
            <div class="caption left-align">
              <h1 style="font-size: 500%">Bias Visualisation with NLTK</h1>
              <h5 class="light grey-text text-lighten-3 hide-on-small-only">
               NLP based App
              </h5>
              <a href="about.html" class="btn-large waves-effect #4db6ac teal lighten-2">Learn More</a>
            </div>
          </li>

        </ul>
      </div>
  </section>


  <!-- SECTION: RESULTS FOR DIFFERENT VISUAL REPRESENTATIONS -->
  <section class="section section-solutions-about grey lighten-3 ">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 offset-m1">
          <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s3">
                  <a href="#tab1" style="color:#3e5756">Bar Graphs</a>
                </li>
                <li class="tab col s3">
                  <a href="#tab2" style="color:#3e5756">Word Clouds</a>
                </li>
                <li class="tab col s3">
                  <a href="#tab3" style="color:#3e5756">TSNE Graph</a>
                </li>
                <li class="tab col s3">
                  <a href="#tab4" style="color:#3e5756">PCA Graph</a>
                </li>
              </ul>
            </div>
            <div id="tab1" class="col s12">
                </br>
              <h5>Bar Graphs</h5>
                <iframe src="{{ bar_graph }}" alt="Bar graph" style="margin-left:auto;margin-right:auto; width:1000px; height: 800px"></iframe>
            </div>

            <div id="tab2" class="col s12">
                </br>
              <h5>Word Clouds</h5>
              <h3 style="text-align: center">Female </h3>
              <img src="{{ female_word_cloud }}" alt="Female word cloud" style="width:1000px">
              </br>
              </br>
              <h3 style="text-align: center">Male</h3>
              <img src="{{ male_word_cloud }}" alt="Male word cloud" style="width:1000px">
            </div>

            <div id="tab3" class="col s12">
              </br>
                <h5>TSNE Graphs</h5>
              <h3 style="text-align: center">Female</h3>
                <iframe src="{{ female_tsne_graph }}" alt="Female Tsne graph" style="margin-left:auto;margin-right:auto; width:1000px; height: 800px"></iframe>
              </br>
              </br>
              <h3 style="text-align: center">Male</h3>
                <iframe src="{{ male_tsne_graph }}" alt="Male Tsne graph" style="margin-left:auto;margin-right:auto; width:1000px; height: 800px"></iframe>
              </br>
              </br>
              <h3 style="text-align: center">Overall</h3>
                <iframe src="{{ tsne_graph }}" alt="Tsne graph" style="margin-left:auto;margin-right:auto; width:1000px; height: 800px"></iframe>
            </div>

            <div id="tab4" class="col s12">
              <h5>PCA Graphs</h5>
              <h3 style="text-align: center">Female</h3>
              <iframe src="{{ female_pca_graph }}" alt="Female PCA graph" style="margin-left:auto;margin-right:auto; width:1000px; height: 800px"></iframe>
              </br>
              </br>
              <h3 style="text-align: center">Male</h3>
              <iframe src="{{ male_pca_graph }}" alt="Male PCA graph" style="margin-left:auto;margin-right:auto; width:1000px; height: 800px"></iframe>
              </br>
              </br>
              <h3 style="text-align: center">Overall</h3>
              <iframe src="{{ pca_graph }}" alt="PCA graph" style="margin-left:auto;margin-right:auto; width:1000px; height: 800px"></iframe>
            </div>

          </div>
        </div>
      </div>
     </div>
  </section>
{% endblock content %}